*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-style: normal;

  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: var(--dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

img,
source {
  display: block;
  max-width: 100%;
}

.bg__pattern {
  position: absolute;
  z-index: -1;

  &--top {
    left: -50%;
    top: -20%;
    @media screen and (min-width: 768px) {
      left: -20%;
      top: -45%;
    }
  }

  &--bottom {
    bottom: -15%;
    right: -50%;
    @media screen and (min-width: 768px) {
      bottom: -62%;
      right: -15%;
    }
  }
}
